
button {
  padding: 10px 20px;
  border: none;
  background-color: rgb(77, 77, 77);
  color: white;
  margin-top: 10px;
}

.btn1:hover {
  background-color: rgb(39, 39, 39);
  transition: 0.5s;
}

.btn2:hover {
  background-color: blue;
}

.btn3:hover {
  transform: scale(1.1);
  transition: 1s;
}

.btn4:hover {
  transform: scale(0.8);
  transition: 1s;
}

.btn5:hover {
  transform: rotate(-45deg);
  transition: 1s;
}

.btn6:hover {
  border-radius: 50%;
  transition: 0.5s;
}

.btn7 {
  width: 100px;
  height: 50px;
  background-color: blue;
  position: relative;
}

.btn7-child {
  width: 100px;
  height: 50px;
  background-color: rgb(77, 77, 77);
  position: absolute;
  left: 8px;
}

.btn7-child:hover {
  transform: scale(0.9);
  transition: 1s;
}