button {
  width: 200px;
  height: 100px;
  border-top: 3px solid red;
  border-right: 5px dotted rgb(149, 0, 255);
  border-left: 5px groove rgb(183, 2, 183);
  border-bottom: 5px double rgb(117, 195, 0);
}